.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-menu {
  min-width: 200px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: block !important;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.twitter-typeahead .tt-menu.tt-open:not(.tt-empty) {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.twitter-typeahead .tt-suggestion {
  color: #333;
  cursor: pointer;
}

.twitter-typeahead .tt-suggestion:hover .media-heading {
  text-decoration: underline;
}

.twitter-typeahead .tt-suggestion .media-body{
  vertical-align: middle;
  display: table-cell;
}

.twitter-typeahead .tt-hint {
  color: #818181 !important;
}

.twitter-typeahead img{
  width: 64px;
  height: 64px;
}

#messages-main {
  position: relative;
}

#messages-main:before,
#messages-main:after {
  content: " ";
  display: table;
}

#messages-main:after {
  clear: both;
}

#messages-main:before,
#messages-main:after {
  content: " ";
  display: table;
}

#messages-main:after {
  clear: both;
}

#messages-main .ms-block {
  padding: 23px 20px 0;
}

#messages-main .ms-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #F8F8F8;
  border-right: 1px solid #EEE;
  padding-bottom: 50px;
  height: 100%;
  width: 240px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

@media (max-width: 767px) {
  #messages-main .ms-menu {
    height: calc(100% - 58px);
    -webkit-transform: translate3d(-240px, 58px, 0);
    transform: translate3d(-240px, 58px, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
  }

  #messages-main .ms-menu.toggled {
    -webkit-transform: translate3d(0, 58px, 0);
    transform: translate3d(0, 58px, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

#messages-main .ms-menu .lv-item {
  padding-left: 20px;
  padding-right: 20px;
}

#messages-main .ms-menu .lv-item.active {
  background: #fff;
}

#messages-main .ms-menu .lv-item:not(.active):hover {
  background: #F2F2F2;
  cursor: pointer;
}

@media (min-width: 768px) {
  #messages-main .ms-body {
    padding-left: 240px;
  }
}

@media (max-width: 767px) {
  #messages-main .ms-body {
    overflow: hidden;
  }
}

#messages-main .ms-user:before,
#messages-main .ms-user:after {
  content: " ";
  display: table;
}

#messages-main .ms-user:after {
  clear: both;
}

#messages-main .ms-user:before,
#messages-main .ms-user:after {
  content: " ";
  display: table;
}

#messages-main .ms-user:after {
  clear: both;
}

#messages-main .ms-user > img {
  border-radius: 50%;
  width: 40px;
  float: left;
}

#messages-main .ms-user > div {
  overflow: hidden;
  padding: 7px 5px 7px 15px;
  font-size: 11px;
}

#messages-main .ms-user {
  display: table;
}

#messages-main .ms-user .lv-avatar {
  display: table-cell;
}

#messages-main .ms-user span {
  display: table-cell;
  padding-left: 5px;
}

#messages-main #ms-compose {
  position: fixed;
  bottom: 120px;
  z-index: 1;
  right: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

#ms-menu-trigger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin: 1px 0 0 -7px;
}

@media (min-width: 768px) {
  #ms-menu-trigger {
    display: none;
  }
}

#ms-menu-trigger .line-wrap .line {
  background-color: #717171;
}

.line-wrap {
  width: 18px;
  height: 12px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  margin: 10px 20px;
}

.line-wrap .line {
  width: 18px;
  height: 2px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.line-wrap .line.center {
  margin: 3px 0;
}

.open .line-wrap {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.open .line-wrap .line.top {
  width: 12px;
  transform: translateX(8px) translateY(1px) rotate(45deg);
  -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
}

.open .line-wrap .line.bottom {
  width: 12px;
  transform: translateX(8px) translateY(-1px) rotate(-45deg);
  -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
}

/*
 * For Message
 */

.lv-message .lv-item {
  padding: 20px;
}

.lv-message .lv-item.right {
  text-align: right;
}

.lv-message .lv-item.right .lv-avatar {
  margin-right: 0;
  margin-left: 15px;
}

.lv-message .lv-item:not(.right) .ms-item {
  background: #ffc107;
  color: #fff;
}

.lv-message .lv-item.right .ms-item {
  background: #eee;
}

.lv-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  line-height: 37px;
  font-size: 15px;
  padding: 0 !important;
  text-transform: uppercase;
}

.lv-avatar > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: top;
}

.ms-item {
  padding: 13px 19px 15px;
  border-radius: 2px;
  display: inline-block;
}

@media (min-width: 768px) {
  .ms-item {
    max-width: 70%;
  }
}

.ms-date {
  display: block;
  color: #B3B3B3;
  margin-top: 7px;
}

.ms-date > i {
  font-size: 14px;
  vertical-align: bottom;
  line-height: 100%;
}

.ms-reply {
  box-shadow: 0 -20px 20px -5px #ffffff;
  position: relative;
  margin: 0 !important;
}

.ms-reply textarea {
  width: 100%;
  font-size: 13px;
  border: 0;
  padding: 10px 8px;
  resize: none;
  height: 60px;
}

.ms-reply button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 100%;
  width: 60px;
  font-size: 25px;
  background: #F5F5F5;
  color: #2196f3;
}

.ms-reply button:hover {
  background: #f2f2f2;
}

.listview {
  position: relative;
}

.listview:not(.lv-lg):not(.lv-message) .lv-item {
  padding: 10px 20px;
}

@media (min-width: 480px) {
  .listview.lv-lg .lv-item {
    padding: 17px 35px 17px 25px;
  }
}

@media (max-width: 767px) {
  .listview.lv-lg .lv-item {
    padding: 17px 35px 17px 20px;
  }
}

.listview.lv-lg .lv-item:hover {
  background-color: #FFFFDB;
}

.listview .lv-item {
  position: relative;
  display: block;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.listview .lv-item .lv-small {
  font-size: 12px;
  color: #A9A9A9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.listview .lv-item .checkbox,
.listview .lv-item.media {
  margin: 0;
}

.listview .lv-item .lv-actions {
  position: absolute;
  right: 15px;
  top: 10px;
}

@media (max-width: 480px) {
  .listview .lv-item .lv-actions {
    right: 7px;
  }
}

.listview .lv-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.listview a.lv-item:hover {
  background: #ECF9FF;
}

.listview [class*="lv-img"] {
  border-radius: 50%;
}

.listview .lv-img {
  width: 48px;
  height: 48px;
}

.listview .lv-img-sm {
  width: 35px;
  height: 35px;
}

.listview.lv-bordered .lv-item:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.listview .lv-attrs {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.listview .lv-attrs > li {
  display: inline-block;
  padding: 2px 10px 3px;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 2px;
}

.listview .lv-attrs > li:not(.info):not(.primary):not(.warning):not(.danger) {
  border: 1px solid #dedede;
  background: #ffffff;
  color: #5e5e5e;
}

.listview .lv-attrs > li.info {
  border: 1px solid #00bcd4;
  background: #00bcd4;
  color: #ffffff;
}

.listview .lv-attrs > li.primary {
  border: 1px solid #2196f3;
  background: #2196f3;
  color: #ffffff;
}

.listview .lv-attrs > li.warning {
  border: 1px solid #ff9800;
  background: #ff9800;
  color: #ffffff;
}

.listview .lv-attrs > li.danger {
  border: 1px solid #f44336;
  background: #f44336;
  color: #ffffff;
}

.listview .lv-attrs > li > a {
  display: block;
}

.listview:not(.lv-message) .lv-title {
  color: #000;
}

[class*="lv-img"] {
  border-radius: 50%;
}

.lv-img {
  width: 48px;
  height: 48px;
}

.lv-img-sm {
  width: 35px;
  height: 35px;
}

.lv-header {
  text-align: center;
  padding: 15px 10px 13px;
  line-height: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #F0F0F0;
  font-weight: 500;
  color: #4C4C4C;
  margin-bottom: 10px;
}

.lv-header .actions {
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: 10;
}

.lvh-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background: #fff;
  display: none;
}

.lvh-search:before {
  content: "\f1c3";
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  left: 24px;
  top: 17px;
  font-size: 22px;
}

.lvhs-input {
  border: 0;
  padding: 0 26px 0 55px;
  height: 63px;
  font-size: 18px;
  width: 100%;
  font-weight: 100;
  background: #fff;
  border-bottom: 1px solid #EEE;
}

.lvh-search-close {
  font-style: normal;
  position: absolute;
  top: 23px;
  right: 22px;
  font-size: 17px;
  width: 18px;
  height: 18px;
  background-color: #ADADAD;
  line-height: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.lvh-search-close:hover {
  background: #333;
}

.lv-header-alt {
  position: relative;
  background: #f8f8f8;
  padding: 15px;
}

.lv-header-alt .lv-actions {
  z-index: 3;
  float: right;
  margin-top: 3px;
  position: relative;
}

.lv-header-alt .lv-actions > li > a {
  margin: 0 3px;
}

.lvh-label {
  color: #818181;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  padding: 0 6px;
  line-height: 33px;
  vertical-align: middle;
  float: left;
}

.lv-footer {
  display: block;
  text-align: center;
  padding: 7px 10px 8px;
  border-top: 1px solid #F0F0F0;
  line-height: 100%;
  font-size: 11px;
  margin-top: 20px;
  color: #828282;
}

a.lv-footer:hover {
  color: #050505;
}

/*
 * Inside Card will have more padding
 */

.card-body .lv-item {
  padding: 12px 20px;
}

.progress {
  box-shadow: none;
  border-radius: 0;
  height: 5px;
  margin-bottom: 0;
}

.progress .progress-bar {
  box-shadow: none;
}

#chat {
  position: fixed;
  background: #fff;
  padding: 20px 0;
  width: 280px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  height: calc(100% - 65px);
  right: -300px;
  top: 65px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
}

#chat.toggled {
  right: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

#chat .chat-search {
  padding: 20px 20px 15px 20px;
}

#chat .chat-search .form-control {
  background-image: url("../img/icons/search-2.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #chat .chat-search .form-control {
    background-image: url("../img/icons/search-2@2x.png");
    background-size: 24px 24px;
  }
}

#chat .chat-search .form-control:focus {
  background-position: right center;
  padding: 0 30px 0 0;
}

/*
 * Chat Status Icons
 */

[class*="chat-status"] {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -3px;
  right: 12px;
  border: 2px solid #FFF;
}

/* Simple Mixin */

.chat-status-online {
  box-shadow: 0 0 0 1px #1ec01e;
  background: #1ec01e;
}

.chat-status-offline {
  box-shadow: 0 0 0 1px #e73f3f;
  background: #e73f3f;
}

.chat-status-busy {
  box-shadow: 0 0 0 1px #ffa500;
  background: #ffa500;
}

/*
 * For Stupid IE9
 */

.ie9 #chat {
  right: 0;
}

.ie9 #chat:not(.toggled) {
  display: none;
}

.tab-nav {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin: 0;
  overflow: auto;
  box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.tab-nav > li {
  display: inline-block;
  vertical-align: top;
}

.tab-nav > li > a {
  display: inline-block;
  color: #7a7a7a;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  font-weight: 500;
}

.tab-nav > li > a:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

@media (min-width: 768px) {
  .tab-nav > li > a {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .tab-nav > li > a {
    padding: 15px 8px;
  }
}

.tab-nav > li.active > a {
  color: #000;
}

.tab-nav > li.active > a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.tab-nav.tab-nav-right {
  text-align: right;
}

.tab-nav.tn-justified > li {
  display: table-cell;
  width: 1%;
  text-align: center;
}

.tab-nav.tn-icon > li .zmdi {
  font-size: 22px;
  line-height: 100%;
  min-height: 25px;
}

.tab-nav:not([data-tab-color]) > li > a:after {
  background: #2196f3;
}

.tab-nav[data-tab-color="green"] > li > a:after {
  background: #4caf50;
}

.tab-nav[data-tab-color="red"] > li > a:after {
  background: #f44336;
}

.tab-nav[data-tab-color="teal"] > li > a:after {
  background: #009688;
}

.tab-nav[data-tab-color="amber"] > li > a:after {
  background: #ffc107;
}

.tab-nav[data-tab-color="black"] > li > a:after {
  background: #000000;
}

.tab-nav[data-tab-color="cyan"] > li > a:after {
  background: #00bcd4;
}

.tab-content {
  padding: 20px 0;
}

.card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.card .card-header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .card .card-header:not(.ch-alt) {
    padding: 23px 25px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header:not(.ch-alt) {
    padding: 18px;
  }
}

.card .card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}

.card .card-header h2 small {
  display: block;
  margin-top: 8px;
  color: #AEAEAE;
  line-height: 160%;
}

@media screen and (min-width: 768px) {
  .card .card-header.ch-alt {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header.ch-alt {
    padding: 18px 18px 28px;
  }
}

.card .card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}

.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
  color: #fff;
}

.card .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}

.card .card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .card .card-body.card-padding {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-body.card-padding {
    padding: 18px;
  }
}

.card .card-body.card-padding-sm {
  padding: 15px;
}

.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
  padding-top: 0;
}

.actions {
  list-style: none;
  padding: 0;
  z-index: 2;
  margin: 0;
}

.actions > li {
  display: inline-block;
  vertical-align: baseline;
}

.actions > li > a,
.actions > a {
  width: 30px;
  height: 30px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.actions > li > a > i,
.actions > a > i {
  -webkit-transition: color;
  -o-transition: color;
  transition: color;
  -webkit-transition-duration: 1300ms;
  transition-duration: 1300ms;
  color: #adadad;
  font-size: 20px;
}

.actions > li > a:hover > i,
.actions > a:hover > i {
  color: #000;
}

.actions > li > a:before,
.actions > a:before {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
  border-radius: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.actions > li > a:hover:before,
.actions > a:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.actions > li.open > a > i,
.actions.open > a > i {
  color: #000;
}

.actions > li.open > a:before,
.actions.open > a:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.actions.actions-alt > li > a > i {
  color: #fff;
}

.actions.actions-alt > li > a > i:hover {
  color: #fff;
}

.actions.actions-alt > li.open > a > i {
  color: #fff;
}

.actions.open {
  z-index: 3;
}

.message-list {
    height: 350px;
    overflow-y: scroll;
}

.media-body{
  padding-left: 5px;
}
.c-black{
  padding-left: 5px;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}